EMS/EMS/EMS_WEBCLIENT/Connected Services/WorkingDaysService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/HospitalService1" />
  <xs:element name="GetWDDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWDDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HospitalService1" minOccurs="0" name="GetWDDetailsResult" nillable="true" type="q1:ArrayOfWorkingDaysDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertWDDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HospitalService1" minOccurs="0" name="wd" nillable="true" type="q2:WorkingDaysDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertWDDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertWDDetailsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllWD">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllWDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HospitalService1" minOccurs="0" name="GetAllWDResult" nillable="true" type="q3:ArrayOfWorkingDaysDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HospitalService1" minOccurs="0" name="wdID" nillable="true" type="q4:WorkingDaysDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateWDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmployeeInfo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteWDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteWD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HospitalService1" minOccurs="0" name="dd" nillable="true" type="q5:deleteWD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteWDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteWDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FindByIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getWDs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getWDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/HospitalService1" minOccurs="0" name="getWDsResult" nillable="true" type="q6:getAllWD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>