EMS/EMS/EMS_WEBCLIENT/Connected Services/DepartmentService/HospitalService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HospitalService1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HospitalService1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDepartmentDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DepartmentDetails" nillable="true" type="tns:DepartmentDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDepartmentDetails" nillable="true" type="tns:ArrayOfDepartmentDetails" />
  <xs:complexType name="DepartmentDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DepartmentDetails" nillable="true" type="tns:DepartmentDetails" />
  <xs:complexType name="deleteDepartment">
    <xs:sequence>
      <xs:element minOccurs="0" name="d_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="deleteDepartment" nillable="true" type="tns:deleteDepartment" />
  <xs:complexType name="getAllDepartments">
    <xs:sequence>
      <xs:element minOccurs="0" name="allDepartments" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getAllDepartments" nillable="true" type="tns:getAllDepartments" />
</xs:schema>