EMS/EMS/EMS_WEBCLIENT/Connected Services/SalaryService/HospitalService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HospitalService1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HospitalService1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSalaryDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SalaryDetails" nillable="true" type="tns:SalaryDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSalaryDetails" nillable="true" type="tns:ArrayOfSalaryDetails" />
  <xs:complexType name="SalaryDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Salary" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SalaryDetails" nillable="true" type="tns:SalaryDetails" />
  <xs:complexType name="getAllSalary">
    <xs:sequence>
      <xs:element minOccurs="0" name="allSalaries" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getAllSalary" nillable="true" type="tns:getAllSalary" />
</xs:schema>