EMS/EMS/EMS_WEBCLIENT/Connected Services/SalaryService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SalaryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/HospitalService1" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISalaryService_GetSalaryDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSalaryDetails" />
  </wsdl:message>
  <wsdl:message name="ISalaryService_GetSalaryDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSalaryDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ISalaryService_InsertSalaryDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertSalaryDetails" />
  </wsdl:message>
  <wsdl:message name="ISalaryService_InsertSalaryDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertSalaryDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ISalaryService_GetAllSalary_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSalary" />
  </wsdl:message>
  <wsdl:message name="ISalaryService_GetAllSalary_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSalaryResponse" />
  </wsdl:message>
  <wsdl:message name="ISalaryService_UpdateSalary_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSalary" />
  </wsdl:message>
  <wsdl:message name="ISalaryService_UpdateSalary_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSalaryResponse" />
  </wsdl:message>
  <wsdl:message name="ISalaryService_FindById_InputMessage">
    <wsdl:part name="parameters" element="tns:FindById" />
  </wsdl:message>
  <wsdl:message name="ISalaryService_FindById_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ISalaryService_getSalaries_InputMessage">
    <wsdl:part name="parameters" element="tns:getSalaries" />
  </wsdl:message>
  <wsdl:message name="ISalaryService_getSalaries_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSalariesResponse" />
  </wsdl:message>
  <wsdl:portType name="ISalaryService">
    <wsdl:operation name="GetSalaryDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalaryService/GetSalaryDetails" message="tns:ISalaryService_GetSalaryDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalaryService/GetSalaryDetailsResponse" message="tns:ISalaryService_GetSalaryDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertSalaryDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalaryService/InsertSalaryDetails" message="tns:ISalaryService_InsertSalaryDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalaryService/InsertSalaryDetailsResponse" message="tns:ISalaryService_InsertSalaryDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSalary">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalaryService/GetAllSalary" message="tns:ISalaryService_GetAllSalary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalaryService/GetAllSalaryResponse" message="tns:ISalaryService_GetAllSalary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSalary">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalaryService/UpdateSalary" message="tns:ISalaryService_UpdateSalary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalaryService/UpdateSalaryResponse" message="tns:ISalaryService_UpdateSalary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindById">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalaryService/FindById" message="tns:ISalaryService_FindById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalaryService/FindByIdResponse" message="tns:ISalaryService_FindById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSalaries">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalaryService/getSalaries" message="tns:ISalaryService_getSalaries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalaryService/getSalariesResponse" message="tns:ISalaryService_getSalaries_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISalaryService" type="tns:ISalaryService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSalaryDetails">
      <soap:operation soapAction="http://tempuri.org/ISalaryService/GetSalaryDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertSalaryDetails">
      <soap:operation soapAction="http://tempuri.org/ISalaryService/InsertSalaryDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSalary">
      <soap:operation soapAction="http://tempuri.org/ISalaryService/GetAllSalary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSalary">
      <soap:operation soapAction="http://tempuri.org/ISalaryService/UpdateSalary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindById">
      <soap:operation soapAction="http://tempuri.org/ISalaryService/FindById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSalaries">
      <soap:operation soapAction="http://tempuri.org/ISalaryService/getSalaries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SalaryService">
    <wsdl:port name="BasicHttpBinding_ISalaryService" binding="tns:BasicHttpBinding_ISalaryService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/SalaryService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>